<a href="https://colab.research.google.com/github/madiha-sumbal/Machine-Learning/blob/MLCODES/Python_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World") #simple print in python

Hello World

In [ ]:
name = "John Smith" #variables
age=20

print (name)
print('He is a new patient')
print(age)

JohnSmith
He is a new patient
20

In [ ]:
name = input("What is your name? ") #receving inputs

What is your name? Madiha Abbasi

In [ ]:
name = input("What is your name? ")  #concatination
print("Hello "+name)

In [ ]:
birth_year = input("What is your birth_year? ") #type casting....3 types of data (1. String 2.Numbers 3. Boolens)
age = 2024 - birth_year #error (subtract integeric value from string value: to solve this problem use typecasting)
print(age)

In [ ]:
birth_year = input("What is your birth_year? ")
age = 2024 - int(birth_year) #use of 1.int(), 2. float(), 3. bool(), 4. str() for type casting
print(age)

What is your birth_year? 2005
19

In [ ]:
num_1 = input("First: ")
num_2 = input("Second: ")
Sum = float(num_1) + float(num_2)
print("Sum:" + str(Sum ))
#OR
num_1 = float(input("First: "))
num_2 = float(input("Second: "))
Sum = num_1 + num_2
print("Sum:" + str(Sum ))

First: 8
Second: 9
Sum:17.0
First: 9
Second: 9
Sum:18.0

In [ ]:
course = "Its intresting to learn python"  # String in Python is an object
print(course.upper())  # This will return a new string with all uppercase letters
print(course.lower())  # This will return a new string with all lowercase letters
print(course.find('e'))  # This will return the index of the first occurrence of 'e'
print(course.find('learn'))  # This will return the index of the start of the substring 'learn'
print(course.replace('intresting', 'lovely'))  # This will return a new string with 'intresting' replaced by 'lovely'

ITS INTRESTING TO LEARN PYTHON
its intresting to learn python
8
18
Its lovely to learn python

In [ ]:
course = 'Python for course'
print('Python' in course) # the 'in' keyword checks for the presence of a substring within a string

True

In [ ]:
print(10 - 3)   # Subtraction: 10 minus 3
print(10 * 3)   # Multiplication: 10 times 3
print(10 / 3)   # Division: 10 divided by 3 (float result)
print(10 // 3)  # Floor Division: 10 divided by 3 (integer result, rounded down)
print(10 % 3)   # Modulus: Remainder of 10 divided by 3
print(10 ** 3)  # Exponentiation: 10 raised to the power of 3

7
30
3.3333333333333335
3
1
1000

In [ ]:
x = 10          # Arithmetic Operator
x = x + 3       # Add 3 to x, so x is now 13
x += 3          # Add 3 to x again, so x is now 16
x *= 3          # Multiply x by 3, so x is now 48
x /= 3          # Divide x by 3, so x is now 16.0 (note: division produces a float)
print(x)        # Print the final value of x

16.0

In [ ]:
#Operator Precedence......BDMOS Rule
x = 10 + 3 * 2 #operator precedence determines the order in which different operations are performed in an expression.
print(x)
x = 10 + (3 * 2) #operator precedence determines the order in which different operations are performed in an expression.
print(x)

16
16

In [ ]:
#Comparison Operator.....< , >, = , !=, <= , >=
x = 2 > 3
x = 3 <=4
print(x)
x = 3 < 4
print(x)
x = 3==3
print(x)
x = 3!=2
print(x)

True
True
True
True

In [ ]:
# Logical Operators........&, or,
age = 20
print(age > 10 or age < 10)
age = 20
print(age > 10 and age < 10)
age = 5
print(not age>6)# inverse variable

True
False
True

In [ ]:
# if, elif and else statements
temperature = 30
if temperature >= 30:
  print("It's hot day")
elif temperature > 20:
  print("Stay hydrated and take care")
elif temperature > 10:
  print("It's a cool day")
else:
  print("Wao! It's a good day. Enjoy your self")

It's hot day

In [ ]:
def convert_weight():
    weight = float(input('Weight: '))  # Convert the input to float
    conversion = input('(K)g or (L)bs: ').strip().lower()  # Normalize the input

    if conversion == "kg" or conversion == "k":
        converted_weight = weight * 1000  # Corrected to convert kg to grams
        print('weight in kg ' + str(converted_weight))
    elif conversion == "lbs" or conversion == "l":
        converted_weight = weight * 2.20462  # Convert kg to lbs
        print('weight in lbs ' + str(converted_weight))
    else:
        print("Invalid option. Please enter 'kg' or 'lbs'.")

convert_weight()  # Call the function

Weight: 6
(K)g or (L)bs: l
weight in lbs 13.227719999999998

In [ ]:
#while loops
i=1
while i <= 10:
  print(i)
  i = i+1

In [ ]:
i=1
while i <= 10:
  print(i * '*')
  i = i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#Lists
name = ['Ahmad', 'John', 'Smith', 'Bob', 'Fatima']
print(name)
print(name[-2])
name[3] = 'Hina'
print(name)
print(name[0:3])

['Ahmad', 'John', 'Smith', 'Bob', 'Fatima']
Bob
['Ahmad', 'John', 'Smith', 'Hina', 'Fatima']
['Ahmad', 'John', 'Smith']

In [ ]:
#List Methods
no = [1, 2, 3, 4, 5, 6]

# Append 7 to the list
no.append(7)
print(no)  # Output: [1, 2, 3, 4, 5, 6, 7]

# Insert -1 at index 0
no.insert(0, -1)
print(no)  # Output: [-1, 1, 2, 3, 4, 5, 6, 7]

# Remove the first occurrence of 3 from the list
no.remove(3)
print(no)  # Output: [-1, 1, 2, 4, 5, 6, 7]

# Clear the list (must call the method with parentheses)
no.clear()
print(no)  # Output: []

# in keyword
print(1 in no)

# lenghth of list
print(len(no))

[1, 2, 3, 4, 5, 6, 7]
[-1, 1, 2, 3, 4, 5, 6, 7]
[-1, 1, 2, 4, 5, 6, 7]
[]
False
0

In [ ]:
# Using a for loop to iterate over a list
num_list = [1, 2, 3, 4, 5]
for item in num_list:
    print(item)

# Using a for loop with range to iterate from 0 to 9
for num in range(10):  # This will iterate from 0 to 9
    print(num)

# Using a while loop to iterate over the list
i = 0  # Initialize the variable i
while i < len(num_list):
    print(num_list[i])
    i += 1  # Increment i

In [ ]:
#The range() function.........explore range of function
num = range(5, 10, 2)
print(num)
for num in num:
  print(num)
  #OR
for num in range(5):
  print(num)

range(5, 10, 2)
5
7
9
0
1
2
3
4

In [ ]:
#Tuples....tuples are immutable sequences that are used to store collections of items.
#Once a tuple is created, its contents cannot be changed. Tuples are defined using parentheses ()
num = (1,2,3,4,4)
num.count(4)

2